.tasks-container {
    display: flex;
    height: 100vh;
}

.tasks-list {
    width: 30%;
    background-color: #684627;
    color: white;
    padding: 20px;
    overflow-y: auto;
    border-radius: 12px; 
    margin-right: 80px;
}

.task-button {
    background-color: #daa384;
    color: white;
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
    border-radius: 5px;
}

.task-button:hover {
    background-color: #d88091;
}

.create-task-button {
    background-color: #e37a9a;
    color: white;
    font-family:'Lucida Console','Trebuchet MS';
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.create-task-button:hover {
    background-color: #d65a7f;
    transform: scale(1.03); 
}

.task-button.completed {
    background-color: #854d59; 
    color: #f1f1f1;
    font-family:'Courier New', Courier, monospace;
    text-decoration: line-through;
  }

.task-button.completed:hover {
    background-color: #76444f; 
  }

.task-filter-buttons {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
  }
  
  .task-filter-buttons button {
    padding: 6px 12px;  
    margin: 0 10px;  
    background-color: #fed8a6;  
    color: #4d4d4d; 
    font-family:'Lucida Console','Trebuchet MS';
    border-radius: 4px; 
    font-size: 14px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;  
  }
  
  .task-filter-buttons button:hover {
    background-color: #b99a58;  
    transform: scale(1.22); 
    color: #f1f1f1;
  }
  
  .task-filter-buttons button.active {
    background-color: #f2d98b;  
    color: #4d4d4d;  
  }
  
  .task-button.completed {
    text-decoration: line-through;
  }
  