html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('../src/assets/mern_bg6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  color: rgb(101, 30, 46);
  font-family:'Papyrus', 'Lucida Console','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}